body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color:black;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

#invoicediv {
    margin-top: 10px;
    color: black;
}

#itemDeatials {
    margin-top: 10px;
    background: #f5f5f5;
    padding: 10px;
    white-space: pre-line;
}

.invoice-box {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}
